.gameComponent {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 1rem;
  gap: 1rem;
  max-height: 20%;
}

.leftSidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  margin-right: 100px;
}

.gameInfo {
  display: flex;
  justify-content: space-around;
  grid-column: 2;
  margin-top: 1rem;
}

.pTurns {
  font-family: "Amatic SC", cursive;
  font-size: 1.4rem;
  font-weight: bold;
}

.pMatches {
  font-family: "Amatic SC", cursive;
  font-size: 1.4rem;
  font-weight: bold;
}

.btnNew {
  font-family: "Amatic SC", cursive;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  border: 0;
  background: var(--button-basic);
  color: var(--heading-main);
  cursor: pointer;
  transition: background 300ms;
}

button:hover,
button:focus {
  background: var(--button-hover);
}

.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-grey);
}

.modal {
  background-color: var(--bg-light);
  padding: 3rem;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.modalHeading {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.modalParagraph {
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

@media (max-width: 920px) {
  .gameComponent {
    display: flex;
    flex-direction: column;
  }

  .cardGrid {
    gap: 0.2rem;
  }

  .leftSidebar {
    flex-direction: row;
    gap: 1rem;
    margin-right: 0;
  }

  h1::after {
    display: none;
  }

  .gameInfo {
    flex-direction: row;
  }
}
