.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 1rem;
  gap: 1rem;
}

.game-info {
  display: flex;
  justify-content: space-around;
}

.p-turns {
  font-family: "Amatic SC", cursive;
  font-size: 2rem;
  font-weight: bold;
}

.p-matches {
  font-family: "Amatic SC", cursive;
  font-size: 2rem;
  font-weight: bold;
}
