.quizList {
  font-size: 2rem;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.quizList li {
  padding: 20px 20px;
  border-radius: var(--border-radius);
  background-color: var(--button-pink-basic);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  cursor: pointer;
  height: 7rem;
}

.quizList li:hover {
  background-color: var(--button-pink-hover);
}

.quizListNumber {
  margin: auto;
}

.quizList li .listPhoto {
  background: var(--bg-light);
  height: 100%;
  border-radius: 50%;
  display: block;
}
