.quizList {
  font-size: 2rem;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.quizList li {
  padding: 20px 20px;
  border-radius: var(--border-radius);
  background-color: var(--button-pink-basic);
  display: flex;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
  height: 7rem;
}

.quizList li:hover {
  background-color: var(--button-pink-hover);
}

.quizListNumber {
  margin: auto;
}

.quizList li .listPhoto {
  background: var(--bg-light);
  height: 100%;
  border-radius: 50%;
  display: block;
}

@media (max-width: 920px) {
  .quizList {
    grid-template-columns: 1fr;
  }

  .quizList li {
    gap: 3rem;
  }

  .quizList li .listTitle {
    display: flex;
    gap: 5rem;
  }

  .quizList li span {
    margin: 0;
  }

  .quizList li .quizListNumber {
    display: block;
    margin-left: auto;
    padding-right: 1rem;
  }
}

@media (max-width: 600px) {
  .quizList li {
    gap: 1.5rem;
  }
}

@media (max-width: 550px) {
  .quizList {
    grid-template-columns: 1fr;
    font-size: 1.2rem;
    /* font-weight: bold; */
  }
  .quizList li {
    gap: 1rem;
  }
  .quizList li .listTitle {
    flex-direction: column;
    gap: 0.5rem;
  }
}
