@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Amatic SC", cursive;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
}
