@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");

:root {
  --heading-main: #513500;
  --button-basic: #ffe6b8;
  --button-hover: #ffcf77;
  --button-pink-basic: #ffe9e4;
  --button-pink-hover: #ffd8cf;
  --bg-light: #fff;
  --bg-transparent: rgba(253, 250, 246, 0.95);
  --bg-grey: rgba(255, 255, 255, 0.2);

  --border-radius: 20px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Amatic SC", cursive;
  letter-spacing: 1px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
}
