body {
  background: url(../../../public/img/backgrounds/ufiffi_ancient_egypt_monuments_in_a_desert._painted_with_waterc_118a7f34-ff56-4d3a-93b7-c5196e2164e5.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

h1 {
  font-size: 5rem;
  color: var(--heading-main);
  text-align: center;
}

h3 {
  text-align: center;
  font-size: 2.5rem;
  color: var(--heading-main);
}

h1::after {
  content: "";
  display: block;
  width: 90%;
  height: 1px;
  background: var(--heading-main);
  margin: 2rem auto;
}

.buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 2rem;
  color: var(--heading-main);
}

.btn {
  padding: 1rem 5rem;
  font-size: 2.5rem;
  color: var(--heading-main);
  font-weight: bold;
  border: 1px solid rgb(198, 198, 198);
  font-family: "Amatic SC", cursive;
  background: var(--button-basic);
  cursor: pointer;
  border: 0;
  border-radius: 0.5rem;
}

.btn:visited {
  color: var(--heading-main);
}

.btn:hover,
.btn:focus {
  background: var(--button-hover);
}

@media (max-width: 930px) {
  h1 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2rem;
  }

  .btn {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 3rem;
    font-weight: normal;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: normal;
  }

  .btn {
    font-size: 1.5rem;
    font-weight: normal;
    padding: 1rem 3rem;
  }
}

@media (max-width: 550px) {
  h1 {
    font-size: 2rem;
    padding: 1.2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h1::after {
    margin: 0.5rem auto;
  }
}
