.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 980px;
  background: var(--bg-transparent);
  border-radius: var(--border-radius);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 1rem;
  position: relative;
  opacity: 0.94;
}

.content {
  padding: 3rem 3rem;
  /* padding: 50px 85px; */
  /* width: 100%; */
}

.closeIcon {
  width: 2rem;
  position: absolute;
  right: 0;
  top: 0;
  margin: 0.5rem;
  cursor: pointer;
}

@media (max-width: 920px) {
  .container {
    width: 640px;
  }

  .content {
    padding: 1.5rem 1.5rem;
  }

  .closeIcon {
    width: 1rem;
  }
}
